@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset  styling */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(14, 69, 121);
    font-family: 'Poppins', sans-serif;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.logo {
    font-size: 42px;
    font-weight: 700;
}

ul {
    display: flex;
}

ul li {
    padding: 8px 20px;
    font-size: 24px;
    font-weight: 700;
}

ul li a {
    padding: 8px 20px;
    border-radius: 25px;
}

ul li a:hover {
    background-color: rgb(14, 69, 121);
    color: #fff;
}

/* Home */
.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
    margin: 100px 0 100px 0;
}

.home-image img {
    width: 400px;
    border-radius: 100px;
}

.home-text h1 {
    font-size: 40px;
}

.home-text span {
    color: aquamarine;
}

.home-text button {
    font-size: 20px;
    padding: 15px 20px;
    background-color: rgb(14, 69, 121);
    color: #fff;
    border-radius: 25px;
    margin-top: 90px;
}